* {
  font-family: Helvetica, sans-serif;
}

#logo{
    position: inherit;
    width: 100px;
    height: 34px;
    left: 122px;
    top: 10px;

    /* Primary/DarkBlue/04 */
    background: #0D28A6;
}

#logo2{
  width: 100px;
  height: 34px;
}

.btn-success{
  background-color: #5CB85F;
  border-radius: 2px;
  border-color: #5CB85F;
}

.btn-primary{
  background-color: #0D28A6;
  border-radius: 2px;
  border-color: #0D28A6;
}

.btn-warning{
  background-color: #F9CC00;
  border-radius: 2px;
  border-color: #F9CC00;
}

.btn-danger{
  background-color: #FA2C5A;
  border-radius: 2px;
  border-color: #FA2C5A;
}

#mobil{
  position: relative;
  left: 112px;
}

a{
  text-decoration: none; 
  color: #000;
}

#our-services-margin1{
  margin-left: 106px;
}

#our-services-margin2{
  margin-top: 50px; 
  margin-bottom: 50px; 
  margin-right: 50px;
}

.our-services-icon{
  font-size: 20px; 
  color: lightblue;
}

.why-us-icon{
  font-size: 24px; 
  border-radius: 48%;
}

.testimonial-card{
  background-color: #F1F3FF; 
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 8px;
}

#cta-banner{
  background-color: #0D28A6; 
  color: #FFF;
  border-radius: 13px;
}

.icon-footer{
  font-size: 18px; 
  border-radius: 48%;
}

.owl-carousel{
  width: 130%; 
  left: -15%;
}

[class*='owl-'] button{
color: white;
}

.owl-prev > span{
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  font-size: 20px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: block;
  margin-left: -40px;
  color: black;
}

.owl-next > span{
  background: #5CB85F;
  font-size: 20px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: block;
  color: #fff;
}

.owl-dots{
  display: none;
}

.accordion-item{
  border-radius: 4px;
}

.owl-prev, .owl-next{
  width: 0;
}

#mobil1{
  display: none;
}

.hp{
  margin-top: 100px;
}

#filter-box {
  position: absolute;
  margin-top: -74px;
  z-index: 1090;
  width: 1360px;
}

.background-filter {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  display: none;
}

.form-control:focus {
  border-color: #5CB85F;
  box-shadow: 0 0 0 0.25rem rgba(201, 231, 202, 1);
}

option:hover{
  color: #5CB85F;
}

@media (min-device-width : 320px) and (max-device-width : 991px){
  #mobil{
    display: none;
  }

  .star{
    margin-top: -32px;
    margin-bottom: 20px;
    text-align: center;
  }

  #mobil1{
    display: inherit;
    left: 51px;
    margin-top: 10%;
    width: 109%;
  }

  .our-services{
    flex-direction: column;
  }

  #our-services-margin1{
    margin-left: 15px;
    margin-bottom: 50px;
    width: 90%;
  }
  
  #our-services-margin2{
    margin-top: auto; 
    margin-bottom: auto; 
    margin-right: auto;
  }

  #faq{
    flex-direction: column;
  }

  .testimonial-card{
    margin: 10px;
    height: 100%; 
    width: 100%; 
  }

  .whyus{
    margin-bottom: 10px;
  }

  .owl-carousel{
    padding: 50px;
  }

  .icon-footer{
    margin-bottom: 20px;
  }

  .hwp{
    text-align: center;
    margin-top: -50px;
  }

  .hw{
    text-align: center;
  }

  .hp{
    margin-top: 50px;
    margin-bottom: -60px;
  }

}